body {
  background: #c2311e;
  margin: 0;
  cursor: crosshair;
}

img {
  position: fixed;
  width: 50%;
  height: 50%;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}
